[submodule "third_party/yolov5"]
	path = third_party/yolov5
	url = https://github.com/ecologize/yolov5/
[submodule "third_party/cameratraps"]
	path = third_party/cameratraps
	url = https://github.com/Microsoft/cameratraps
[submodule "third_party/ai4eutils"]
	path = third_party/ai4eutils
	url = https://github.com/Microsoft/ai4eutils
